doctype

s83-form-header(form-title="{{pageTitle}}", show-cancel="true", cancel-state="inventory.storerooms.list")

form.form(role="form", name="storeroomForm", novalidate)
    .row
        fieldset.col-md-4
            s83-entity-text-input(elementId='name', label='Name', placeholder='Name', model='entity.name')
            s83-entity-text-input(elementId='description', label='Description', placeholder='Description', model='entity.description')


    s83-form-footer(save-button-text="Save", show-cancel="true", cancel-button-text="Cancel", cancel-state="inventory.storerooms.list", on-save="save()")

