entity-search(search-params="searchParams", col-defs="gridConfig.colDefs", actions="gridConfig.actions",
    create-route="inventory.storerooms.new", show-route="inventory.storerooms.show", index-name="storerooms",
    index-type="storeroom", search-fields="['name', 'description']",
    label-field="name", page-title="Storerooms", entity-name="Storeroom",
    on-confirm-delete="remove(entity)")
