doctype

.col-md-9
    tabset
        tab(ng-repeat="t in tabs", heading="{{t.heading}}", select="go(t.route)", active="t.active")
    .view(ui-view)

.col-md-3
    .panel.panel-default
        .panel-heading
            h3.panel-title {{storeroom.name}}
                a.btn.btn-default.btn-xs.pull-right(ui-sref="inventory.storerooms.edit({id:storeroom._id})") Edit
        .panel-body
            dl
                dt Description
                dd {{storeroom.description}}
                dt Created
                dd {{storeroom.createdAt | date:'medium'}}
                dt Updated
                dd {{storeroom.updatedAt | date:'medium'}}

