//
   Created by dhayes on 4/1/14.
h1.page-header Inventory Management

.jumbotron
    p Modules will include...
    ul
        li Storerooms
        li Item Master
        li Tools
        li Inventory
        li Issues and Transfers
