//
   Created by dhayes on 4/1/14.
h1.page-header Inventory

.jumbotron
    p Modules will include...
    ul
        li Storerooms
        li Items (Item Master)
        li Tools
        li Storeroom Inventory
        li Issues and Transfers
