doctype
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Storeroom 83 inventory and asset management application')
        meta(name='author', content='dangular')
        base(href='/')
        title Storeroom 83
        link(rel="shortcut icon", href="/images/ico/favicon.ico")
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/animate.css/animate.min.css')
        link(rel='stylesheet', href='/angular-growl/build/angular-growl.min.css')
        link(rel='stylesheet', href='/bootstrap-theme-white-plum/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/dashboard.css')
        link(rel='stylesheet', href='/css/app.css')

    body(ng-app="app", ng-controller="AppController")
        div(data-growl)
        .view(ui-view)
        script(src='/jquery/dist/jquery.min.js')
        script(src='/angular/angular.min.js')
        script(src='/angular-sanitize/angular-sanitize.min.js')
        script(src='/angular-cookies/angular-cookies.min.js')
        script(src='/angular-bootstrap/ui-bootstrap.min.js')
        script(src='/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(src='/angular-ui-router/release/angular-ui-router.js')
        script(src='/angular-growl/build/angular-growl.min.js')
        script(src='/angular-animate/angular-animate.min.js')
        script(src='/elasticsearch/elasticsearch.angular.min.js')
        script(src='/lodash/dist/lodash.min.js')
        script(src='/restangular/dist/restangular.min.js')
        script(src='/js/app.js')
        script(src='/js/components.js')



