//
   Created by dhayes on 4/1/14.
h3.page-header Work Order Management

.jumbotron
    p Modules will include...
    ul
        li Service Requests
        li Work Order Tracking
        li Labor Reporting
        li Skills and Assignments
