// custom styles here
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.sub-nav a{
  text-indent: 40px;
}

.sub-nav > .active > a {
  font-style: italic;
  font-weight: bold;
}

/* Animations */
.alert {
  &.ng-enter {
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
  }

  &.ng-leave {
    -webkit-animation: fadeOutUp 1s;
    -moz-animation: fadeOutUp 1s;
    -ms-animation: fadeOutUp 1s;
    animation: fadeOutUp 1s;
  }
}

.growl {
  position: fixed;
  top: 20px;
  right: 10px;
  float: right;
  width: 250px;
  z-index: 9999;
}

.growl-item {
  &.ng-enter {
    -webkit-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
  }

  &.ng-leave {
    -webkit-animation: fadeOutUp 1s;
    animation: fadeOutUp 1s;
  }
}
