doctype
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Storeroom 83 inventory and asset management application')
        meta(name='author', content='dangular')
        base(href='/')
        title Storeroom 83
        link(rel="shortcut icon", href="images/ico/favicon.ico")
        link(rel='stylesheet', href='app-bootstrap.css')
        link(rel='stylesheet', href='dashboard.css')
        link(rel='stylesheet', href='app.css')

    body
        .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Storeroom 83
                .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Settings
                        li
                            a(href='#') Profile
                        li
                            a(href='#') Help
                    form.navbar-form.navbar-right
                        input.form-control(type='text', placeholder='Search...')
        .container-fluid
            .row
                .col-sm-3.col-md-2.sidebar
                    ul.nav.nav-sidebar
                        li.active
                            a(href='#') Dashboard
                    ul.nav.nav-sidebar
                        li
                            a(href='') Inventory
                        li
                            a(href='') Work Orders
                        li
                            a(href='') Asset Management
                        li
                            a(href='') Purchasing
                        li
                            a(href='') Maintenance Planning
                .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    h1.page-header Dashboard
                    .row.placeholders
                        .col-xs-6.col-sm-3.placeholder
                            img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
                            h4 Label
                            span.text-muted Something else
                        .col-xs-6.col-sm-3.placeholder
                            img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
                            h4 Label
                            span.text-muted Something else
                        .col-xs-6.col-sm-3.placeholder
                            img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
                            h4 Label
                            span.text-muted Something else
                        .col-xs-6.col-sm-3.placeholder
                            img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
                            h4 Label
                            span.text-muted Something else
                    h2.sub-header Section title
                    .table-responsive
                        table.table.table-striped
                            thead
                                tr
                                    th #
                                    th Header
                                    th Header
                                    th Header
                                    th Header
                            tbody
                                tr
                                    td 1,001
                                    td Lorem
                                    td ipsum
                                    td dolor
                                    td sit
                                tr
                                    td 1,002
                                    td amet
                                    td consectetur
                                    td adipiscing
                                    td elit
                                tr
                                    td 1,003
                                    td Integer
                                    td nec
                                    td odio
                                    td Praesent
                                tr
                                    td 1,003
                                    td libero
                                    td Sed
                                    td cursus
                                    td ante
                                tr
                                    td 1,004
                                    td dapibus
                                    td diam
                                    td Sed
                                    td nisi
                                tr
                                    td 1,005
                                    td Nulla
                                    td quis
                                    td sem
                                    td at
                                tr
                                    td 1,006
                                    td nibh
                                    td elementum
                                    td imperdiet
                                    td Duis
                                tr
                                    td 1,007
                                    td sagittis
                                    td ipsum
                                    td Praesent
                                    td mauris
                                tr
                                    td 1,008
                                    td Fusce
                                    td nec
                                    td tellus
                                    td sed
                                tr
                                    td 1,009
                                    td augue
                                    td semper
                                    td porta
                                    td Mauris
                                tr
                                    td 1,010
                                    td massa
                                    td Vestibulum
                                    td lacinia
                                    td arcu
                                tr
                                    td 1,011
                                    td eget
                                    td nulla
                                    td Class
                                    td aptent
                                tr
                                    td 1,012
                                    td taciti
                                    td sociosqu
                                    td ad
                                    td litora
                                tr
                                    td 1,013
                                    td torquent
                                    td per
                                    td conubia
                                    td nostra
                                tr
                                    td 1,014
                                    td per
                                    td inceptos
                                    td himenaeos
                                    td Curabitur
                                tr
                                    td 1,015
                                    td sodales
                                    td ligula
                                    td in
                                    td libero
        //
           Bootstrap core JavaScript
              ==================================================
        //
           Placed at the end of the document so the pages load faster
        script(src='jquery/dist/jquery.min.js')
        script(src='holderjs/holder.js')
        script(src='app.js')



